<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>E-Store | Ecommerce Website</title>
</head>
<body>
	<section>
		<!-- Start Carousel -->
		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img height="550px" src="/img/banner1.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img style="height:550px;" src="/img/banner2.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img style="height:550px;" src="/img/banner3.jpg" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	
		 <div class="container">
			<div class="row">
		    <p class="text-center fs-4 mt-5 mb-5">All Category</p>
		    
		    <div class="col-md-2" th:each="cat : ${categories}">
		        <div class="card rounded-circle shadow-sm p-3 mb-5 bg-white rounded">
		            <div class="card-body text-center">
		                
		                <a href="#"  th:href="@{'/products?category='+${cat.name}}"
								    th:classappend="${paramValue == cat.name} ? 'active' : '' "
									class="list-group-item list-group-item-action">[[${cat.name}]]</a>
		            </div>
		        </div>
		    </div>
		</div>

		</div> 
		<!-- End of Category -->
		<!-- new modifications for Clothing store -->
		
		<!-- new modifications for Clothing store -->
		
		<!-- Start Latest Product Module -->
		

		
		<div class="container-fluid bg-light p-3">
	<p class="text-center fs-4">Latest Product</p>

	<div class="row">
		<div class="col-md-3" th:each="product : ${latestEightActiveProducts}">
			<div class="card shadow-sm p-3 mb-5 bg-white rounded">
				<div class="card-body text-center">
				<a th:href="@{'/product/'+${product.id}}" class="text-decoration-none text-dark">
					<img th:with="cleanedImageUrl=${#strings.contains(product.image_url, 'uploads\') ? 
									      #strings.substringAfter(product.image_url, 'uploads\') : 
									      product.image_url}" 
									       th:src="@{/uploads/{fileName}(fileName=${cleanedImageUrl})}" width="100%" height="150px">
					<p class="text-center"><b>[[${product.name}]]</b></p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

		
		<!-- Latest Product for Clothing Store  -->
		
		
	</section>
</body>
</html>