<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-5">
			<h2>Reset Password</h2>
			<p>Enter your new password below.</p>

			<form th:action="@{/reset-password}" method="post">
				<input type="hidden" name="token" th:value="${token}" />
				
				<label>New Password</label>
				<input type="password" name="password" required>

				<label>Confirm Password</label>
				<input type="password" name="confirmPassword" required>

				<button type="submit">Reset Password</button>
			</form>

		</div>
	</section>

</body>
</html>